body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    background-image: url('/background.png');
    background-size: cover;
    background-position: center;
    color: white;
    font-family: Arial, sans-serif;
    text-align: center;
}

h1 {
    color: white;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    margin-top: 10px;
}
