body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black; /* Фоновый цвет, если картинка не загрузится */
    background-image: url('./ПИКИЧ/background.png'); /* Путь к изображению фона */
    background-size: cover;
    background-position: center;
    height: 100vh;
    margin: 0;
    color: white; /* Цвет текста */
    font-family: Arial, sans-serif;
}

.game-container {
    background-color: rgba(0, 0, 0, 0.5); /* Полупрозрачный фон для контейнера */
    padding: 20px;
    border-radius: 10px;
}
